<form #workoutForm="ngForm">
  <input type="number" placeholder="Bodyweight (lbs)" [(ngModel)]="bodyweight" name="bodyweight" required>
  <br><br>

  @for (entry of exerciseEntries; track $index; let exerciseIndex = $index) {
    <select [(ngModel)]="entry.selectedExercise" name="exercise{{ exerciseIndex }}">
      @for (exercise of exercises; track exercise) {
        <option [value]="exercise">
          {{ exercise }}
        </option>
      }
    </select>
    <button type="button" (click)="removeExercise(exerciseIndex)">Remove Exercise</button>
    <br><br>

    @for (set of entry.sets; track $index; let setIndex = $index) {
      <h3>Set {{ $index + 1 }}</h3>
      <input [(ngModel)]="set.weight" name="weight{{ exerciseIndex }}{{ setIndex }}" type="number" placeholder="Weight (lbs)" required>
      <input [(ngModel)]="set.reps" name="reps{{ exerciseIndex }}{{ setIndex }}" type="number" placeholder="Reps" required>
      <button type="button" (click)="removeSet(exerciseIndex, $index)">Remove Set</button>
      <br><br>
    }

    <button type="button" (click)="addSet(exerciseIndex)">Add Set</button>
    <br><br>
  }

  <button type="button" (click)="addExercise()">Add Exercise</button>

  <br><br>

  <button type="button" (click)="submitMetrics()">Request Metrics</button>
  <button type="button" (click)="submitAIAnalysis()">Request AI Analysis</button>

</form>